.left {
  text-align: left;
  color: blue;
  font-family: Cambria;
  font-size: large;
  text-indent: 20px;
}
.center {
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  color: burlywood;
  letter-spacing: -3px;
  word-spacing: 20px;
  font-size: larger;
}
.right {
  text-align: right;
  color: white;
  font-family: Tahoma;
  font-size: 15pt;
  text-decoration: overline;
  font-style: italic;
}
#headline {
  color: orange;
  font-size: 22px;
  font-family: arial;
  text-decoration: underline;
}
